* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}  

nav {
  min-height: 10vh;
}

.end-heading {
  padding-top: 20px;
}
.end-container {
  background: url("../img/end-full.png");
  background-repeat: repeat-x;  
  background-size: auto 100%;  
  padding: 0 5px;  
  height: 100vh;
}

.jumping-female {
  background: url("../img/sprites/girl_jump_120.png");
  width: 120px;
  height: 120px;
  animation: jumping-female .75s steps(10) infinite;
  margin: auto;
}
.jumping-male {
  background: url("../img/sprites/boy_jump_120px.png");
  width: 120px;
  height: 120px;
  animation: jumping-male .75s steps(6) infinite;
  margin: auto;
  
}

@keyframes jumping-female {
  100% { background-position: -1200px; }
}
@keyframes jumping-male {
  100% { background-position: -720px; }
}

.final_container {  
  width: 100%;
  padding: 5px;
  background-color: #5555559a;
  color: white;  
  border: 1px solid #555555;
  border-radius: 5px;
}

.final-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(179, 175, 175);
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}
.final-food-img {
width: 45px;
height: 45px;
border-radius: 50%;
}

.final-numbers {
  color: white;
}

    /************************************************************** For Tablet */
@media only screen and (min-width: 600px){
  .final_container {  
    width: 60%;
    margin: auto;    
  }    
   .ending-stats {
     font-size: 1.5rem;
   }

  }
  
  
  
  /*********************************************************** For Desktop */
  @media only screen and (min-width: 1000px){
    .jumping-female {
      background: url("../img/sprites/girl_jump_300.png");
      width: 300px;
      height: 300px;
      animation: jumping-female .9s steps(10) infinite;
      margin: auto;
    }
    .jumping-male {
      background: url("../img/sprites/boy_jump_300px.png");
      width: 300px;
      height: 300px;
      animation: jumping-male .9s steps(6) infinite;
      margin: auto;
      
    }
    
    @keyframes jumping-female {
      100% { background-position: -3000px; }
    }
    @keyframes jumping-male {
      100% { background-position: -1800px; }
    }
    
    
  }