* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}  

nav {
  min-height: 10vh;
}

.end-container {
  background: url("/img/street02_preview_mobile.png");
  background-repeat: repeat-x;
  height: 30vh;
  background-size: auto 100%;
}

.final_container {
  min-height: 30vh;
  width: 100%;
  padding: 5px;
  background-color: #555555;
  color: rgb(173, 171, 171);
  border-top: #2e2e2e 1px solid;
}

.final-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(175, 174, 174);
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}
.final-food-img {
width: 45px;
height: 45px;
border-radius: 50%;
}

.final-numbers {
  color: black;
}

    /************************************************************** For Tablet */
@media only screen and (min-width: 600px){
   
  }
  
  
  /*********************************************************** For Desktop */
  @media only screen and (min-width: 1000px){
  
  }