* {
    padding: 0;
    margin: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    /* padding: 4%; */
    width: 15px;
    cursor: pointer;
}

.about-title {
  margin-top: 9%;
  font-size: 30px;
  margin-bottom: 20px;
}

.landing_page_logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.landing_buttons {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 20px;
  width: 40%;
  font-size: 20px;
  background-color: floralwhite;
 }



.animate-background	{ 
	width: 100%; 
	height: 100%; 
	background-image: url("../img/silhouette-buildings-12.png");
	background-position: 0px 0px;
  background-repeat: repeat-x;
  background-color: darkblue;
	animation: animatedBackground 80s linear infinite;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_logo {
  width: 25%;
}

.bottom_logo {
  width: 80%;
  margin-bottom: 4rem;
}

.fuller-button {
  color: white;
  background: none;
  border-radius: 0;
  padding: 1.2em 5em;
  letter-spacing: 0.35em;
  font-size: 0.9em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin: 1em;
  cursor: pointer;
}
.fuller-button.white {
  box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
  border: #fff solid 2px;
}
.fuller-button.white:hover {
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
}

@keyframes animatedBackground {
  0% { background-position: 0 0; background-color: skyblue; }
  25% { background-position: 50% 0; background-color: darkorange }
  50% { background-position: 100% 0; background-color: darkblue; }
  75% { background-position: -50% 0; background-color: darkorange}
  100% { background-position: 0 0; background-color: skyblue; }
}


/************************************************************** For Tablet */
@media only screen and (min-width: 600px){
    /* body {
        background-image: url("../img/night-mobile.jpg");
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
    } */
    .popup {
      width: 500px;   
    }

    .close-btn {
      width: 30px;
    }

    .about-title {
      margin-top: 5%;
    }

    .buttons {
      flex-direction: row;
    }

    .top_logo {
      width: 20%;
    }

    .bottom_logo {
      width: 50%;
    }


  }


  /*********************************************************** For Desktop */
  @media only screen and (min-width: 1000px){
    .popup {
      width: 800px;
    }
    .close-btn {
      width: 40px;
    }

    .about-title {
      margin-top: 5%;
    }
    
    .logos {
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
    }

    .top_logo {
      width: 13%;
      margin: 0;
      margin-right: 3rem;
    }

    .bottom_logo {
      width: 50%;
      margin: 0;
    }

    .buttons {
      width: 50%;
      justify-content: space-around;
    }

  }


  /*Landing Page Button Styling */

  
