* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    min-height: 10vh;
}

.locations-body {
    height: 100vh;
    background-color: #555555;
}

.main {
    background: url("/img/street02_preview_mobile.png");
    background-repeat: repeat-x;
    height: 30vh;
    background-size: auto 100%;
    position: relative;
    overflow: hidden;
}

.positioning {
    position: absolute;
    bottom: 5%;
}

.story {
    display: none;
}

.available-items-container {    
    min-height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    align-items: center;    
    background-color: #555555;
    color: white;    
}

.available-items-flex {
    display: flex;
    flex-wrap: wrap;   
    width: 100%;
}
    

.available-items {
    width: 45%;
    height: 40px;
    display: flex;
    padding: 3px;
    border: #777777 1px solid;
    border-radius: 5px;
    margin: 5px;
    justify-content: center;
}

#countdowntimer {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translateX(50%);
    font-size: 40px;
}

.margin5 {
    margin: 5px;
}

.percent80 {
    width: 80%;
}

.hidden-for-small {
    display: none;
}

.bag-container {
    min-height: 30vh;
    width: 100%;
    padding: 5px;
    background-color: #555555;
    color: rgb(173, 171, 171);
    border-top: #2e2e2e 1px solid;
}

.bag-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bag-item-place-holder {
    width: 30%;
    height: 75px;
    margin: 3px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;   
    border: #777777 1px solid;
    border-radius: 5px;
    cursor: url("img/remove-item.png"), auto;
}

.question-mark {
    width: 50%;
}

.male {
    background: url("../img/sprites/boy_run_120.png");
    width: 120px;
    height: 120px;
    /* animation: walk-east-male .5s steps(10) infinite; */
    /* position: fixed; */
  }
  
.female {
    background: url("../img/sprites/girl_run_120.png");
    width: 128px;
    height: 128px;
    /* animation: walk-east-female .5s steps(10) infinite; */
    /* position: fixed; */
}
  

/* animation: walk-east 1s steps(8) infinite,
              forward 10s linear infinite; */

  @keyframes walk-east-male {
  100% { background-position: -1200px; }
  }
  
  @keyframes walk-east-female {
    100% { background-position: -1200px; }
  }
  
  @keyframes forward {
    from { transform: translateX(0%); }  
    to { transform: translateX(90vw); }
  }

  @keyframes scroll-city {
    0% { background-position: 0 0 }
    100% { background-position: 100% 0 }
  }
/***************************************************************** Media Queries ***************/

@media only screen and (min-width: 600px) {
    .main {
        background-image: url("/img/street02_preview.png");
        background-size: auto 100%;
        background-repeat: repeat-x;
        height: 50vh;
        width: 100%;
        animation: scroll-city 60s linear infinite;
        animation-direction: reverse;
    }
    .footer-content {
        display: flex;
        min-height: 40vh;
    }

    .story {
        display: inline;
        border-right: #777777 1px solid;
        border-left: #777777 1px solid;
        background-color: #555555;
        padding: 25px;
        flex-basis: 35%;
    }   
    .available-items-container {        
        width: 40%; 
        padding: 25px;      
    }   

    .available-items-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
   
    .available-food-img {
        width: 50px;
        height: 50px;
        margin-top: 8px;
    }
    .hidden-for-small {
        display: block;
    }

    .bag-container {
        width: 20%;
        padding: 25px;
        background-color: #555555;
        border-left: #2e2e2e 1px solid;
        color: white;
        flex-basis: 35%;
    }
    .bag-item-place-holder {
        height: 100px;
        width: 100px;
        display: flex;        
        cursor: url("img/remove-items-lg.png"), auto;
        flex-direction: column;
    }

  .available-items {
    width: 100px;
    height: 100px;    
    display: flex;
    align-items: center;   
    border: #777777 1px solid;
    border-radius: 5px;    
    flex-direction: column;
  } 
  
  #countdowntimer {
      font-size: 5rem;
  }
}



@media only screen and (min-width: 1000px) {
    .main {
        background-image: url("/img/street02_preview.png")
    }
}