* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


.prepper-body {
    background-image: url("../img/layers-end/l1_sky-mobile.png"); 
    background-repeat: repeat-x;    
    background-size: auto 100%;
    height: 90%;
}

.prepper_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form {
    padding: 3px 20px;      
 }
.form-group {
    margin-bottom: 8px;
}
 label {
     display: flex;
     justify-content: flex-start;
 }

.radio_item{
    display: none !important;
}

.radio_item:checked + .label_item {
    opacity: 1;
}
.male_female {    
    display: flex;
    justify-content: space-around;    
}

.female-idle {
    background: url("../img/sprites/female_idle.png");
    width: 128px;
    height: 128px;
    animation: female .5s steps(16) infinite;
}

.male-idle {
    background: url("../img/sprites/male_idle.png");
    width: 120px;
    height: 120px;
    animation: male .5s steps(12) infinite;
}

@keyframes female {
    100% { background-position: -2048px; }
 }
 @keyframes male {
    100% { background-position: -1440px; }
 }

 .label_item {
    opacity: 0.25;
    cursor: pointer;
}
/* input {
    margin-top: 10px;
    padding: .25rem;
    text-align: center;
    width: 65%;
} */

/* .left-align {
    display: flex;
    justify-content: space-between; 
}


label {
    display: inline;    
} */

.go_button {
    width: 100%;
    padding: .25rem;
}


/************************************************************** For Tablet */
@media only screen and (min-width: 600px){
    .prepper_form {
        width: 50%;
        margin: 0 auto;
    }
    .stat_header {
        font-size: 3rem;
        padding: 20px;
    }
    .male_female {
        display: flex;
        justify-content: space-evenly;
    }
    
  }
  
  
  /*********************************************************** For Desktop */
  @media only screen and (min-width: 1000px){
  
  }
     
