* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/story-building-background-mobile.png"); 
  
}

/* Story Bubble */
.talk-bubble {
    margin: 40px;
    display: inline-block;
    position: relative;
    width: 80%;
    height: auto;
    background-color: lightyellow;
    border: 8px solid #666;
    border-radius: 30px;    
  }
  
  .bubble {
    transition: all 3s;
  }
  
  /* Top Half of Bubble */
  .bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
  }
  /* Bottom Part of Bubble */
  .bubble:after{
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 38px;
      right: auto;
      top: auto;
      bottom: -20px;
      border: 12px solid;
      border-color: lightyellow transparent transparent lightyellow;
  }
  
  .talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
  }
  
  .click {
    display: inline-block;
    position: relative;
    top: 6px;
    right: -4px;
    border-radius: 100%;
    color: black;
    background-color: white;
    cursor: pointer;
  }
  .text {
    display: inline;
    color: black;
  }
  
  .center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .button-glow {
    animation: glowing 5000ms infinite;
  }
  @keyframes glowing {
    0% { box-shadow: 0 0 -10px #c4a300; }
    40% { box-shadow: 0 0 20px #c4a300; }
    60% { box-shadow: 0 0 20px #c4a300; }
    100% { box-shadow: 0 0 -10px #c4a300; }
  }

  /************************************************************** For Tablet */
@media only screen and (min-width: 600px){
  body {
    background-image: url("../img/story-building-background.png"); 
    
  }

  .talk-bubble {
    margin-top: 200px; 
    width: 50%;
    height: auto;
       
  }
}


/*********************************************************** For Desktop */
@media only screen and (min-width: 1000px){

}