* {
  margin: 0;
  padding: 0;
}
.background-color {
  background: linear-gradient(to bottom, #333399 0%, #696E74 100%);
  z-index: -2;
  
}

.story-background {
  
  background-image: url("../img/story-building-background.png"); 
  background-repeat: repeat-x;
  height: 100vh;
 
 
}

/* Story Bubble */
.talk-bubble {
    margin-top: 30%;
    display: inline-block;
    position: relative;
    width: 80%;
    height: auto;
    background-color: lightyellow;
    border: 8px solid #666;
    border-radius: 30px;    
  }
  
  .bubble {
    transition: all 3s;
  }
  
  /* Top Half of Bubble */
  .bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
  }
  /* Bottom Part of Bubble */
  .bubble:after{
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 38px;
      right: auto;
      top: auto;
      bottom: -20px;
      border: 12px solid;
      border-color: lightyellow transparent transparent lightyellow;
  }
  
  .talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
  }
  
  .click {
    display: inline-block;
    position: relative;
    top: 6px;
    right: -4px;
    border-radius: 100%;
    color: black;
    cursor: pointer;
  }
  .text {
    display: inline;
    color: black;
  }
  
  .center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .button-glow {
    animation: glowing 5000ms infinite;
  }
  @keyframes glowing {
    0% { text-shadow: 0 1px #c4a300; }
    40% { text-shadow: 0 2px #c4a300; }
    60% { text-shadow: 0 2px #c4a300; }
    100% { text-shadow: 0 2px #c4a300; }
  }

  /************************************************************** For Tablet */
@media only screen and (min-width: 600px){
  .story-background {
    background-image: url("../img/story-building-background.png"); 
    background-size: contain;
  }

  .talk-bubble {
    margin-top: 20%; 
    width: 80%;
    height: auto;
       
  }
  .text {
    font-size: 1.4rem;
    line-height: 150%;
    
  }
}


/*********************************************************** For Desktop */
@media only screen and (min-width: 1000px){
  .talk-bubble {
    margin-top: 10%; 
    width: 30%;
    height: auto;
       
  }
}