* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Impact", sans-serif;
  text-align: center;
  color: white;
}

ng-view {
  width: 100%;
  height: 100vh;
}

.nav {
  width: 100vw;
}
/* Logo Glow */

.nav-logo {
    animation: glow 3s infinite;
}

/*buttons*/



/* User stats*/

.num_input{ 
  width: 75px;  
}

/*About Popup*/
.popup {
  width: 300px;
  background-color: red;
  height: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.item_box {
  background-color: grey;
  width: 75px;
  height: 75px;
  margin: 10px;
}

.bug-out-bag {
  background-color: red;
  width: 75px;
  height: 75px;
  margin: 10px;
}
/*Your Itmes container */
.your-items-container {
  margin-top: 20px
}

/*Bag Containers */
.bag-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: lightblue;
}

.final-bag {
  margin-top: 20px;
}

.food-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: lightblue;
}

.food-choices {
  margin: 0 auto 20px auto;
  /* display: flex; */
  background-color: red;
  border: 1px solid purple;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
}

.final_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.food_img {
  width: 100px;
  height: 100px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@keyframes glow {
    0% {
      box-shadow:  0 0 10px white;
    }
    
    15% {
      box-shadow: 2px 2px 10px rgb(222, 240, 63),
                   -2px -2px 10px rgb(222, 240, 63);
    }
    30% {
      box-shadow: 2px 2px 4px rgba(234, 236, 99, 0.7),
                   -2px -2px 4px rgba(234, 236, 236, 99, 0.7);
    }
    50% {
      box-shadow: 20px 20px 50px rgba(234, 236, 115, 0.5),
                   -20px -20px 50px rgba(234, 236, 115, 0.5);
    }
  }
/******* Running Timer *******/
/* .running-timer {
  background : url(../img/running_man8.png);  
  width: 128px;
  height: 150px;
  animation: walk-east 1s steps(8) infinite,
              forward 10s linear infinite;
} */

.man {
  background:url(../img/running_man8.png);
  width: 128px;
  height: 165px;
  animation: walk-east 1s steps(8) infinite;
}

@keyframes walk-east {
from { background-position: 0px; }  
  to { background-position: -1024px; }
}
@keyframes forward {
  from { transform: translateX(0%); }  
  to { transform: translateX(100%); }  
}

.city-background {
  background: url("../img/silhouette-buildings-12.png");
  animation: walk-east 1s steps(1) infinite;
}

@keyframes animatedBackground {
  0% { background-position: 0 0; background-color: skyblue; }
  25% { background-position: 50% 0; background-color: darkorange }
  50% { background-position: 100% 0; background-color: darkblue; }
  75% { background-position: -50% 0; background-color: darkorange}
  100% { background-position: 0 0; background-color: skyblue; }
}

.animate-background	{ 
	width: 100%; 
	height: 100%; 
	background-image: url("../img/silhouette-buildings-12.png");
	background-position: 0px 0px;
  background-repeat: repeat-x;
  background-color: darkblue;

	animation: animatedBackground 80s linear infinite;
}