* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;  
}

ng-view {
  width: 100%;
  height: 100vh;
}

.font-headings {
  font-family: 'Special Elite', cursive;
}

.countdown-timer {
  font-family: 'Shojumaru', cursive;
}

.nav {
  width: 100vw;
}
/* Logo Glow */

.nav-logo {
    animation: glow 3s infinite;
}

.glow {
  filter: drop-shadow( 0 0 0 2px white);
  animation: glow 3s infinite;
   /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
}


@keyframes glow {
    0% {
      filter: drop-shadow( 0px 0px 5px white );
      /* text-shadow:  0 0 white; */
    }
    
    15% {
      filter: drop-shadow( 0px 0px 8px rgb(222, 240, 63) );
      /* text-shadow: 2px 2px rgb(222, 240, 63),
                   -2px -2px rgb(222, 240, 63); */
    }
    30% {
      filter: drop-shadow( 0px 0px 2px rgba(234, 236, 99, 0.7) );
      /* text-shadow: 2px 2px rgba(234, 236, 99, 0.7),
                   -2px -2px rgba(234, 236, 99, 0.7); */
    }
    50% {
      filter: drop-shadow( 0px 0px 7px rgba(234, 236, 115, 0.5) );
      /* text-shadow: 20px 20px rgba(234, 236, 115, 0.5),
                   -20px -20px rgba(234, 236, 115, 0.5); */
    }
  }

/*About Popup*/
.popup {
  width: 300px;
  background-color: rgba(46, 42, 42, .95);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 5px;
  z-index: 1000;
  transition: all linear 0.5s;
}  

.close {
  position: absolute;
  top: 0;
  right: 0;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; 
}

.audio-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

 /************************************************************** For Tablet */
 @media only screen and (min-width: 600px){

  .hidden-for-large {
    display: none;
  }
  .bg-transparent {
    opacity: .5;
  }
}

/*********************************************************** For Desktop */
@media only screen and (min-width: 1000px){

}
