    <section class="landing_page_logo">
        <img class="main_logo glow secondary-glow" src="../img/Other_Big_Full_Logo.png" alt="">
        <button class="landing_buttons" type="button" ng-click="$ctrl.aboutGame();">About</button>
        <button class="landing_buttons" type="button" ng-click="$ctrl.nextPage();">Play</button>
    </section>



    <section class="popup" ng-show="$ctrl.popup">
        <img src="../img/close-x-32.png" class="close-btn" ng-click="$ctrl.close();">
        <h1 class="about-title">Doomsday Trail</h1>
        <p>Doomsday Trail is a game based on the game Oregon Trail. During an apocolypse you need to grab food items to survive. Find out how long you will survive, if it all, by playing Doomsday Trail.</p>

    </section>
