    <section class="landing_page_logo">
        <div class="logos">
            <img class="bottom_logo glow secondary-glow slide-down" src="../img/LogoW.png" alt="">
            <img class="top_logo glow secondary-glow fade-in" src="../img/LightningBoltLogo.png" alt="">
        </div>
        <div class="buttons">
            <button class="fuller-button white" type="button" ng-click="$ctrl.aboutGame();"><span class="button__inner">About</span></button>
            <button class="fuller-button white" type="button" ng-click="$ctrl.nextPage();"><span class="button__inner">Play</span></button>
        </div>
    </section>



    <section class="popup" id="about-popup" ng-show="$ctrl.popup">
        <img src="../img/close-x-32.png" class="close-btn" ng-click="$ctrl.close();">
        <h1 class="about-title font-headings">Doomsday Trail</h1>
        <p class="about-size">Doomsday Trail is a game based on the game Oregon Trail. During an apocolypse you need to grab food items to survive. Find out how long you will survive, if it all, by playing Doomsday Trail.</p>
        <p class="about-size">Programmers: Mike Smith, Lindsay Aiello, Anthony Drummond</p>
        <p class="about-size">Artwork from Envato Market</p>
    </section>
