<nav-component></nav-component>
<h1>{{ $ctrl.currentLocation[$ctrl.counter].name }}</h1>

<section class="food-choices-container">
    <div class="item_box" ng-repeat="food in $ctrl.locationItems track by $index" ng-click="$ctrl.moveToBag($index)">
        <img class="food_img" ng-src="{{ food.img }}">
        <p>{{ food.food_name }}</p> <!-- show on hover-->
    </div>
    
    <section class="bag-container">
        <div class="bug-out-bag" ng-repeat="item in $ctrl.bagItems track by $index" ng-click="$ctrl.moveToLocation($index)">
            <img class="food_img" ng-src="{{ item.img }}">
            <p>{{ item.food_name }}</p> 
        </div>
    </section>
</section>
    
<footer>
    <div class="man_box" style="{{$ctrl.timerAnimation}}">
        <div class="man"></div>
    </div>
    <button class="bug_out_btn" ng-click="$ctrl.moveToNextLocation();">Bug Out!</button>
</footer>