<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand hidden-for-small" ng-click="$ctrl.resetGame();" href="/#!">
      <img src="../img/logofull.png" width="100%" height="50px" class="d-inline-block align-top nav-logo" alt="">
    </a>
    <a class="navbar-brand hidden-for-large" ng-click="$ctrl.resetGame();" href="/#!">
      <img src="../img/LightningBoltLogo.png" width="40" height="40" class="d-inline-block align-top nav-logo" >
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" ng-click="$ctrl.aboutGame();">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-click="$ctrl.resetGame();" href="#!/landing-page-component">Quit</a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Prepper Resources 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="http://channel.nationalgeographic.com/doomsday-preppers/articles/get-prepped-food/" target="_blank">Food Tips</a>
            <a class="dropdown-item" href="http://channel.nationalgeographic.com/doomsday-preppers/articles/get-prepped-water/" target="_blank">Water Tips</a>
            <a class="dropdown-item" href="http://channel.nationalgeographic.com/doomsday-preppers/articles/get-prepped-shelter/" target="_blank">Shelter Tips</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>


  <section class="popup" ng-show="$ctrl.popup">
      <img src="../img/close-x-32.png" class="close-btn" ng-click="$ctrl.close();">
      <h1 class="about-title font-headings">Doomsday Trail</h1>
      <p>Doomsday Trail is a game based on the game Oregon Trail. During an apocolypse you need to grab food items to survive. Find out how long you will survive, if it all, by playing Doomsday Trail.</p>
      <p>Programmers: Mike Smith, Lindsay Aiello, Anthony Drummond</p>
      <p>Artwork from Envato Market</p>
  </section>