<nav-component></nav-component>
<form ng-submit="$ctrl.calsPerDay();">
  <div class="header_section">
    <h1 class="stat_header">Enter your stats</h1>
  </div>

  <div><input ng-model="$ctrl.user.username" placeholder="Enter your name" value="Thor"></div>
  <div class="age_height">
    <div class="age">
      <label class="info_label">Age:</label>
      <input ng-model="$ctrl.user.age" class="age_input" class="num_input" id="age" type="number" min="0" ng-value="27" ng-change="$ctrl.calsPerDay();" value="36">
    </div>
    <div class="height">
      <label class="info_label">Height in Inches:</label>
      <input ng-model="$ctrl.user.height" class="height_input" class="num_input" id="height" type="number" min="0" ng-value="70" ng-change="$ctrl.calsPerDay();" value="70">
    </div>
  </div>

  <div class="male_female">
    <div class="male">
      <label class="info_label">Male:</label>
      <input ng-model="$ctrl.user.sex" value="male" class="radio_sex" id="male" type="radio" name="gender" checked ng-change="$ctrl.calsPerDay();">
    </div>
    <div class="female">
      <label class="info_label">Female:</label>
      <input ng-model="$ctrl.user.sex" value="female" class="radio_sex" id="female" type="radio" name="gender" ng-change="$ctrl.calsPerDay();">
    </div>
  </div>

  <div class="weight">
    <label class="info_label">Weight:</label>
    <input ng-model="$ctrl.user.weight" class="weight_input" class="num_input" id="weight" type="number" min="0" ng-value="225" ng-change="$ctrl.calsPerDay();" value="200">
  </div>

  <label class="cal_info">
    You need {{ $ctrl.user.result }} calories per day.
  </label>

  <button class="go_button" ng-click="$ctrl.nextPage($ctrl.user)">Go!</button>
</form>