<nav-component></nav-component>

<form class="prepper_form" ng-submit="$ctrl.calsPerDay();">

    <img class="logo" src="logo.png" alt="">

    <h1 class="stat_header">Enter your stats</h1>
    
    <div class="name">
        <label>Name</label>
        <input class="name_input" ng-model="$ctrl.user.username" placeholder="Enter your name">
    </div>
    <div class="age">
        <label>Age:</label>
        <input ng-model="$ctrl.user.age" type="number" min="0" max="99" ng-change="$ctrl.calsPerDay();" placeholder="36">
    </div>

    <div class="height">
        <label>Height in Inches:</label>
        <input ng-model="$ctrl.user.height" type="number" min="0" max="300" ng-change="$ctrl.calsPerDay();" placeholder="70">
    </div>
    
    <div class="male_female">
        <div class="male">
            <input ng-model="$ctrl.user.sex" type="radio" class="radio_item" value="male" name="item" id="radio1" ng-change="$ctrl.calsPerDay();">
            <label class="label_item" for="radio1"> <img class="male_img" src="man-silhouette.png"> </label>
        </div>
        <div class="female">
            <input ng-model="$ctrl.user.sex" type="radio" class="radio_item" value="female" name="item" id="radio2" ng-change="$ctrl.calsPerDay();">
            <label class="label_item" for="radio2"> <img class="female_img" src="female-silhouette.png"> </label>
        </div>
        </div>

    <div class="weight">
        <label>Weight:</label>
        <input ng-model="$ctrl.user.weight" type="number" min="0" max="500" ng-change="$ctrl.calsPerDay();" placeholder="200">
    </div>
    
    <label class="cal_info">
        You need {{ $ctrl.user.result }} calories per day.
    </label>
    
    <button class="go_button" ng-click="$ctrl.nextPage($ctrl.user)">Go!</button>
</form>